
/* header css */
.subnav-hero-section {
    text-align: center;
    background: #1779ba;
    background-size: cover;
    position: relative;
    overflow: visible;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 300px;
  }
  
  .subnav-hero-section .subnav-hero-headline {
    color: #fefefe;
  }
  
  .subnav-hero-subnav {
    float: none;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
  }
  
  .subnav-hero-subnav li {
    float: none;
    display: inline-block;
  }
  
  .subnav-hero-subnav li a {
    padding: 0.9rem 1rem;
    font-size: 0.75rem;
    color: #fefefe;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.35s ease-in-out;
  }
  
  .subnav-hero-subnav li a.is-active {
    background: rgba(254, 254, 254, 0.15);
  }
  
  .subnav-hero-subnav li a:hover {
    background: rgba(254, 254, 254, 0.15);
  }


/* search bar css */
.input-group-rounded .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
  }
  
  .input-group-rounded .input-group-button .button {
    border-radius: 0 5000px 5000px 0;
    font-size: 0.8rem;
  }
  

/* Button  */
  .button-rounded-hover {
    border: 0;
    border-radius: 5000px;
    padding: 1rem 2rem;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    font-size: 1rem;
    letter-spacing: 2px;
    transition: all 0.35s ease;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  
  .button-rounded-hover:before {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: inherit;
    background-color: #fefefe;
    transition: all 0.3s;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  
  .button-rounded-hover:after {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 5px solid #115b8d;
    content: '';
    border-radius: inherit;
  }
  
  .button-rounded-hover:hover,
  .button-rounded-hover:focus {
    background-color: #115b8d;
  }
  
  .button-rounded-hover:hover:before,
  .button-rounded-hover:focus:before {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 0.25;
  }
  
  
  
  
  