.header {
  background-color: lightslategrey;
  padding: 0;
}
.input-group-rounded .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
   
  }


.title  {
  color: white;
  margin-bottom: 0;
}
.subheader {
  color: lightgrey;
  margin-top: 0;
  font-size: 25px;;
  font-family: monospace;
}

.book-list {
  background-color: #F0F0F0;
  margin:auto;
  margin-top: 15px;
  width: 500px;
  padding: 15px;
}
.book-list img {
  height: 300px;
  margin-left: 30%;
}
  
h4 {
  font-size: 20px;

}
.rank {
  color: #2C3840;
  
}
.container {
  width: 800px;
  margin: auto;
}


.hover-underline-menu {
  width: 100%;
}

.hover-underline-menu .menu {
  background-color: #2C3840;
}

.hover-underline-menu .menu a {
  color: #fefefe;
  padding: 1.2rem 1.5rem;
}

.hover-underline-menu .menu .underline-from-center {
  position: relative;
}

.hover-underline-menu .menu .underline-from-center::after {
  content: "";
  position: absolute;
  top: calc(100% - 0.125rem);
  border-bottom: 0.125rem solid #fefefe;
  left: 50%;
  right: 50%;
  transition: all 0.5s ease;
}

.hover-underline-menu .menu .underline-from-center:hover::after {
  left: 0;
  right: 0;
  transition: all 0.5s ease;
}

